:root {
  --sparkgeo-brand-color: #e3842d;
  --disabled: #aaa;
}

html,
body {
  color: #444;
  background: #ccc;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  padding: 10px 20px;
}

footer {
  position: absolute;
  display: flex;
  align-items: center;
  ;
  bottom: 0;
  height: 30px;
  background: white;
  padding-left: 40px;
  width: 100vw;
}

footer p::before {
  content: '*';
  color: var(--sparkgeo-brand-color);
  font-size: 40px;
  position: relative;
  top: 17px;
  right: 12px;
}

footer p {
  position: relative;
  top: -7px;
}


h1 {
  text-transform: capitalize;
}

.sharing-container {
  width: 70vw;
  margin: 0 auto;

}

.sharing-container input[type="text"] {
  width: 200px;
  height: 20px;
  padding-right: 50px;
}

.sharing-container input[type="submit"] {
  margin-left: -50px;
  height: 20px;
  width: 50px;
}


/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--sparkgeo-brand-color);
}

/* Fancy blur effect */
#nprogress .peg {

  box-shadow: 0 0 10px var(--sparkgeo-brand-color), 0 0 5px var(--sparkgeo-brand-color);

}

#nprogress .spinner-icon {

  border-top-color: var(--sparkgeo-brand-color);
  border-left-color: var(--sparkgeo-brand-color);

}

.drag-drop-container,
#map {
  width: 70vw;
  height: 500px;
}

#layers {
  width: 20vw;
}

#main-panels-container {
  display: flex;
}

.main-panels {
  border-radius: 25px;
  background: white;
  margin: 20px auto;
}

.drag-drop-container {

  display: none;
  background: salmon;

  justify-content: center;
  align-items: center;
}

li.disabled {
  color: var(--disabled);
}

li.disabled::after {
  content: '*';
  color: var(--sparkgeo-brand-color);
}
