:root {
  --sparkgeo-brand-color: #e3842d;
  --disabled: #aaa;
}

html,
body {
  color: #444;
  background: #ccc;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  padding: 10px 20px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  background: white;
  padding: 10px;
  width: 100vw;
}


h1 {
  text-transform: capitalize;
}


/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--sparkgeo-brand-color);
}

/* Fancy blur effect */
#nprogress .peg {

  box-shadow: 0 0 10px var(--sparkgeo-brand-color), 0 0 5px var(--sparkgeo-brand-color);

}

#nprogress .spinner-icon {

  border-top-color: var(--sparkgeo-brand-color);
  border-left-color: var(--sparkgeo-brand-color);

}

.drag-drop-container,
#map {
  width: 80vw;
  height: 500px;
  border-radius: 25px;
  background: white;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-drop-container {

  display: none;
  background: salmon;

  justify-content: center;
  align-items: center;
}

li.disabled {
  color: var(--disabled);
}

li.disabled::after {
  content: '*';
  color: var(--sparkgeo-brand-color);
}
